name: main

on:
  pull_request:
    branches:
      - master

jobs:
  flutter_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Install Flutter
        uses: subosito/flutter-action@v2

      - name: Install dependencies
        run: flutter pub get

      - name: Analyze
        run: flutter analyze lib

      - name: Run tests
        run: flutter test --coverage

      - name: Upload coverage to codecov
        run: |
          curl -Os https://uploader.codecov.io/latest/linux/codecov
          chmod +x codecov
          ./codecov

  build_android:
    needs: [flutter_tests]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Install Flutter
        uses: subosito/flutter-action@v2

      - name: Install dependencies
        run: flutter pub get

      - name: Build an APK
        run: flutter build apk

  build_ios:
    needs: [flutter_tests]
    runs-on: macos-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Install Flutter
        uses: subosito/flutter-action@v2

      - name: Install dependencies
        run: flutter pub get

      - name: Build for iOS
        run: flutter build ios --release --no-codesign
